In [1]:
# Ejercicio II:

In [2]:
#Todos los archivos de datos se encuentran en la carpeta data/raw. NO LOS MODIFIQUE,
#solo lealos y guarde nuevos archivos cuando lo crea conveniente en la carpeta data/interim
#o si ya están totalmente procesados, o cuando se le indique, en la carpeta data/processed.

In [3]:
#1.- Cargue el archivo dolar_2019_sii.csv a un dataframe que se llame dolar_2019 usando pandas.
#¿Que argumento necesita pd.read_csv() para leer las columnas correctamente?

para leer los datos de tamaño de fila variable necesitamos o generar el header de antemano ,aqui utilizando el read csv dos veces para leer el header primero y asi que pandas sepa que siempre tiene que leer el mismo tamaño de fila, sino tirara un error, ademas se utiliza skipfooter para no leer los promedios, porque es algo que podemos generar con pandas, y seteamos el indice del dataframe en la columna "Día"

In [6]:
import pandas as pd

dolar_2019 = pd.read_csv('../data/raw/dolar2019_sii.csv',index_col = 'Día',delimiter=";", skipfooter=1,skiprows=1, names=list(pd.read_csv('../data/raw/dolar2019_sii.csv',delimiter=";",header='infer',nrows=1)))
dolar_2019.fillna(0, inplace=True)

dolar_2019.head(31)

<ipython-input-6-24a82b29ce5d>:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  dolar_2019 = pd.read_csv('../data/raw/dolar2019_sii.csv',index_col = 'Día',delimiter=";", skipfooter=1,skiprows=1, names=list(pd.read_csv('../data/raw/dolar2019_sii.csv',delimiter=";",header='infer',nrows=1)))

,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic
Día,,,,,,,,,,,,
1,0,"657,81","651,79","678,53",0,0,"679,15","700,82",0,"728,21",0,0
2,"694,77",0,0,"672,56","678,71",0,"677,62","704,88","720,20","729,38",0,"812,13"
3,"697,09",0,0,"670,05","683,31","709,80","681,30",0,"724,72","727,80",0,"804,29"
4,"697,64","655,39","656,57","667,55",0,"704,59","680,48",0,"725,69","719,53","735,05","802,44"
5,0,"653,80","659,07","666,32",0,"696,78","677,64","711,13","723,30",0,"736,66","796,75"
6,0,"652,78","657,49",0,"678,68","693,25",0,"721,70","717,52",0,"745,85","784,25"
7,"688,42","653,90","658,40",0,"681,09","692,21",0,"716,35",0,"715,53","743,65",0
8,"679,69","654,44","662,19","664,17","683,49",0,"683,12","718,55",0,"717,05","740,23",0
9,"680,10",0,0,"663,01","684,51",0,"685,83","710,98","711,22","722,28",0,"779,04"
10,"678,09",0,0,"663,15","686,43","692,28","688,88",0,"713,72","724,27",0,"771,29"
11,"677,58","656,46","670,83","662,92",0,"697,34","685,40",0,"714,77","720,61","746,23","778,14"
12,0,"660,82","669,37","664,19",0,"693,60","683,38","712,04","714,39",0,"756,08","772,93"
13,0,"660,49","667,09",0,"685,67","694,89",0,"716,69","711,29",0,"783,72","768,69"
14,"675,15","661,60","665,68",0,"693,04","696,25",0,"708,37",0,"712,98","794,51",0
15,"674,95","665,90","670,62","660,67","692,33",0,"681,07",0,0,"712,04","801,83",0
16,"673,76",0,0,"662,86","692,62",0,0,"710,14","707,07","715,48",0,"766,76"
17,"672,73",0,0,"663,98","692,79","698,72","679,48",0,"709,81","718,69",0,"762,83"
18,"671,37","663,98","669,39","660,48",0,"699,52","681,69",0,0,"713,23","782,82","756,95"
19,0,"660,82","667,21",0,0,"696,81","683,27","709,26",0,0,"773,81","752,30"
20,0,"658,75","664,78",0,"696,61","693,99",0,"711,94",0,0,"782,71","752,60"
21,"670,10","654,52","666,13",0,0,"684,19",0,"710,63",0,"709,71","797,17",0
22,"672,42","654,33","665,12","662,27","697,23",0,"685,81","709,52",0,"723,52","795,14",0
23,"672,26",0,0,"663,91","696,70",0,"688,28","713,22","715,24","726,24",0,"749,83"
24,"672,41",0,0,"668,19","698,03","683,41","691,57",0,"722,17","726,15",0,"754,27"
25,"672,14","651,36","676,60","672,83",0,"682,31","691,36",0,"721,92","723,43","795,94",0
26,0,"649,22","679,08","676,21",0,"678,32","694,16","716,40","727,08",0,"791,16","751,04"
27,0,"649,80","679,02",0,"694,84","680,06",0,"718,75","726,17",0,"793,49","746,66"
28,"667,04","649,92","683,73",0,"696,46","679,86",0,"721,55",0,"725,87","806,30",0
29,"671,29",0,"681,09","673,86","703,48",0,"696,62","724,20",0,"724,37","828,25",0
30,"669,60",0,0,"677,67","708,20",0,"697,22","720,65","725,68","726,34",0,"744,62"
31,"666,76",0,0,0,"707,86",0,"699,98",0,0,0,0,0

In [7]:

#2.-Explore el archivo dolar_2020_sii.txt. ¿Qué estructura tiene, en que se diferencia
#y en qué es igual al dataframe anterior? ¿Qué método y argumento hay que usar para leer
#las columnas correctamente?. Carguelo en un dataframe llamado dolar_2020_txt.

In [8]:
#el archivo es distinto en los separadores y en que no hay una fila de headers
#volvemos a usar el read csv, cambiando el delimiter, saltando el footer
#y reusamos el header del archivo anterior porque son la misma cantidad de datos , para que queden
#dos dataframes con columnas uniformes :D
dolar_2020_txt = pd.read_csv('../data/raw/dolar_2020_sii.txt',index_col = 0,delimiter="|", skipfooter=1, names=list(pd.read_csv('../data/raw/dolar2019_sii.csv',delimiter=";",header='infer',nrows=1)))
dolar_2020_txt.fillna(0, inplace=True)

dolar_2020_txt.head(31)

<ipython-input-8-70c98feffb8c>:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  dolar_2020_txt = pd.read_csv('../data/raw/dolar_2020_sii.txt',index_col = 0,delimiter="|", skipfooter=1, names=list(pd.read_csv('../data/raw/dolar2019_sii.csv',delimiter=";",header='infer',nrows=1)))

,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic
Día,,,,,,,,,,,,
1,0,0,0,"852,03",0,"806,32","821,23",0,"776,46","788,15",0,"767,29"
2,"748,74",0,"818,32","863,81",0,"796,46","816,29",0,"770,59","785,04","771,92","760,16"
3,"754,16","799,11","817,45","861,89",0,"782,86","803,98","757,06","771,45",0,"769,17","755,34"
4,0,"790,92","809,81",0,"837,92","769,13",0,"761,34","773,71",0,"758,53","752,03"
5,0,"781,78","812,19",0,"838,74","775,58",0,"767,98",0,"790,81","757,16",0
6,"758,49","776,99","823,28","863,99","832,84",0,"801,46","774,82",0,"794,34","752,01",0
7,"771,82","779,12",0,"853,91","839,08",0,"798,79","777,18","773,76","797,35",0,"747,61"
8,"773,12",0,0,"842,05","836,27","764,97","793,88",0,"773,24","795,05",0,0
9,"766,83",0,"828,95","851,90",0,"769,26","786,18",0,"776,65","797,25","759,25","744,82"
10,"764,69","788,80","841,06",0,0,"771,96","781,74","784,28","767,87",0,"753,75","739,45"
11,0,"795,88","834,22",0,"827,65","767,93",0,"796,58","764,99",0,"760,90","738,17"
12,0,"792,48","835,48",0,"826,05","784,65",0,"793,61",0,0,"757,42",0
13,"770,56","788,33","852,06","839,49","821,88",0,"790,82","792,69",0,"796,05","757,43",0
14,"777,66","795,12",0,"844,57","820,38",0,"788,22","793,32","768,34","797,66",0,"733,55"
15,"772,29",0,0,"848,63","822,93","790,73","787,87",0,"767,01","798,56",0,"731,58"
16,"772,01",0,"836,66","859,31",0,"796,87",0,0,"760,01","801,91","766,70","734,23"
17,"773,36","792,73","850,51","852,52",0,"779,10","787,50","796,73","761,54",0,"767,86","735,09"
18,0,"791,95","855,09",0,"823,86","798,53",0,"803,40",0,0,"767,05","723,44"
19,0,"796,90","862,69",0,"820,65","812,19",0,"796,23",0,"795,68","758,10",0
20,"771,38","797,40","867,83","849,45","819,08",0,"787,26","784,25",0,"788,27","758,62",0
21,"769,93","804,74",0,"856,23",0,0,"786,04","785,84","764,34","786,66",0,"723,85"
22,"770,50",0,0,"862,06","806,17","817,33","777,66",0,"772,83","784,07",0,"730,70"
23,"772,12",0,"851,01","856,51",0,"816,02","769,06",0,"773,40","781,41","761,55","728,96"
24,"771,94","809,82","861,07","858,87",0,"817,90","767,17","790,88","781,44",0,"765,96","716,25"
25,0,"810,20","847,04",0,"805,75","820,68",0,"786,17","788,02",0,"772,83",0
26,0,"807,96","843,96",0,"803,74","813,25",0,"784,44",0,"777,72","771,68",0
27,"776,52","811,10","836,05","859,95","802,10",0,"768,63","786,91",0,"779,57","766,00",0
28,"787,86","816,26",0,"856,76","816,47",0,"768,81","784,27","787,15","772,05",0,"710,26"
29,"788,13",0,0,"850,41","812,74",0,"767,82",0,"784,19","775,56",0,"710,64"
30,"788,18",0,"835,23","836,62",0,"816,36","759,18",0,"784,46","770,45","766,69","711,24"
31,"797,96",0,"846,30",0,0,0,"754,45","779,92",0,0,0,0

In [9]:
#3.-Explore el archivo dolar_2020_sii_AA.txt. ¿Qué estructura tiene? 
#¿Será buena idea ocupar expresiones regulares para indicar el separador? (hint: sí).
#Carguelo en un dataframe llamado dolar_2020_regex y compárelo con el dataframe dolar_2020_txt.
#¿Son exactamente iguales en la información que traen?

In [10]:
#la estructura se ve similar a la del archivo dolar_2020.txt pero los separadores son mas complejos
#asi que habra que setear el delimiter con un regex
dolar_2020_regex = pd.read_csv('../data/raw/dolar_2020_sii_AA.dat',index_col = 0,delimiter="[a-zA-Zá-ý]{3}", skipfooter=1, names=list(pd.read_csv('../data/raw/dolar2019_sii.csv',delimiter=";",header='infer',nrows=1)))
dolar_2020_regex.fillna(0, inplace=True)

dolar_2020_regex.head(31)

<ipython-input-10-57470d4ab128>:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  dolar_2020_regex = pd.read_csv('../data/raw/dolar_2020_sii_AA.dat',index_col = 0,delimiter="[a-zA-Zá-ý]{3}", skipfooter=1, names=list(pd.read_csv('../data/raw/dolar2019_sii.csv',delimiter=";",header='infer',nrows=1)))

,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic
Día,,,,,,,,,,,,
1,0,0,0,"852,03",0,"806,32","821,23",0,"776,46","788,15",0,"767,29"
2,"748,74",0,"818,32","863,81",0,"796,46","816,29",0,"770,59","785,04","771,92","760,16"
3,"754,16","799,11","817,45","861,89",0,"782,86","803,98","757,06","771,45",0,"769,17","755,34"
4,0,"790,92","809,81",0,"837,92","769,13",0,"761,34","773,71",0,"758,53","752,03"
5,0,"781,78","812,19",0,"838,74","775,58",0,"767,98",0,"790,81","757,16",0
6,"758,49","776,99","823,28","863,99","832,84",0,"801,46","774,82",0,"794,34","752,01",0
7,"771,82","779,12",0,"853,91","839,08",0,"798,79","777,18","773,76","797,35",0,"747,61"
8,"773,12",0,0,"842,05","836,27","764,97","793,88",0,"773,24","795,05",0,0
9,"766,83",0,"828,95","851,90",0,"769,26","786,18",0,"776,65","797,25","759,25","744,82"
10,"764,69","788,80","841,06",0,0,"771,96","781,74","784,28","767,87",0,"753,75","739,45"
11,0,"795,88","834,22",0,"827,65","767,93",0,"796,58","764,99",0,"760,90","738,17"
12,0,"792,48","835,48",0,"826,05","784,65",0,"793,61",0,0,"757,42",0
13,"770,56","788,33","852,06","839,49","821,88",0,"790,82","792,69",0,"796,05","757,43",0
14,"777,66","795,12",0,"844,57","820,38",0,"788,22","793,32","768,34","797,66",0,"733,55"
15,"772,29",0,0,"848,63","822,93","790,73","787,87",0,"767,01","798,56",0,"731,58"
16,"772,01",0,"836,66","859,31",0,"796,87",0,0,"760,01","801,91","766,70","734,23"
17,"773,36","792,73","850,51","852,52",0,"779,10","787,50","796,73","761,54",0,"767,86","735,09"
18,0,"791,95","855,09",0,"823,86","798,53",0,"803,40",0,0,"767,05","723,44"
19,0,"796,90","862,69",0,"820,65","812,19",0,"796,23",0,"795,68","758,10",0
20,"771,38","797,40","867,83","849,45","819,08",0,"787,26","784,25",0,"788,27","758,62",0
21,"769,93","804,74",0,"856,23",0,0,"786,04","785,84","764,34","786,66",0,"723,85"
22,"770,50",0,0,"862,06","806,17","817,33","777,66",0,"772,83","784,07",0,"730,70"
23,"772,12",0,"851,01","856,51",0,"816,02","769,06",0,"773,40","781,41","761,55","728,96"
24,"771,94","809,82","861,07","858,87",0,"817,90","767,17","790,88","781,44",0,"765,96","716,25"
25,0,"810,20","847,04",0,"805,75","820,68",0,"786,17","788,02",0,"772,83",0
26,0,"807,96","843,96",0,"803,74","813,25",0,"784,44",0,"777,72","771,68",0
27,"776,52","811,10","836,05","859,95","802,10",0,"768,63","786,91",0,"779,57","766,00",0
28,"787,86","816,26",0,"856,76","816,47",0,"768,81","784,27","787,15","772,05",0,"710,26"
29,"788,13",0,0,"850,41","812,74",0,"767,82",0,"784,19","775,56",0,"710,64"
30,"788,18",0,"835,23","836,62",0,"816,36","759,18",0,"784,46","770,45","766,69","711,24"
31,"797,96",0,"846,30",0,0,0,"754,45","779,92",0,0,0,0

In [11]:
#con respecto a si traen o no la misma informacion, con la funcion compare podemos ver que no hay diferencias
#entre ambos dataframes
dolar_2020_regex.compare(dolar_2020_txt)

Empty DataFrame
Columns: []
Index: []

In [12]:
#4.-Haga las siguientes operaciones de wrangling y limpieza:

#a) Filtre sacando la última fila, arreglando y homogeneizando los encabezados para los tres dataframes

#R: ya se hizo con skiprow al momento de leerla,
#y reuse los encabezados del primer archivo para homogeneizar

In [13]:
#b) Revise que los nombres de las columnas sean los mismos en cada dataframe.
print(dolar_2019.columns,dolar_2020_txt.columns,dolar_2020_regex.columns)
#como se puede ver aqui las columnas son las mismos en todos los dataframe.

Index(['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct',
       'Nov', 'Dic'],
      dtype='object') Index(['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct',
       'Nov', 'Dic'],
      dtype='object') Index(['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct',
       'Nov', 'Dic'],
      dtype='object')

In [14]:
#c) Cree una columna en cada uno de los tres dataframes que se llame year y que tenga el año correspondiente
#, y que su type sea int64.
dolar_2020_regex['year']=2020
dolar_2020_txt['year']=2020
dolar_2019['year']=2019

print("----listado de columnas---")
print(dolar_2019.columns,dolar_2020_txt.columns,dolar_2020_regex.columns)
print("----imprimo tipo de columna---")
print(dolar_2019.year.dtype,dolar_2020_txt.year.dtype,dolar_2020_regex.year.dtype)

----listado de columnas---
Index(['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct',
       'Nov', 'Dic', 'year'],
      dtype='object') Index(['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct',
       'Nov', 'Dic', 'year'],
      dtype='object') Index(['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct',
       'Nov', 'Dic', 'year'],
      dtype='object')
----imprimo tipo de columna---
int64 int64 int64

In [15]:
#d) Convierta las comas a puntos en cada uno de los tres dataframes.

cols=[i for i in dolar_2019.columns if i not in ["year"]]
for col in cols:
    dolar_2019[col]=dolar_2019[col].str.replace(',','.')
    dolar_2020_txt[col]=dolar_2020_txt[col].str.replace(',','.')
    dolar_2020_regex[col]=dolar_2020_regex[col].str.replace(',','.')

dolar_2019.fillna(0, inplace=True)
dolar_2020_regex.fillna(0, inplace=True)
dolar_2020_txt.fillna(0, inplace=True)


print(dolar_2019.head(3)
,dolar_2020_regex.head(3)
,dolar_2020_txt.head(3))

        Ene     Feb     Mar     Abr     May     Jun     Jul     Ago     Sep  \
Día
1         0  657.81  651.79  678.53       0       0  679.15  700.82       0
2    694.77       0       0  672.56  678.71       0  677.62  704.88  720.20
3    697.09       0       0  670.05  683.31  709.80  681.30       0  724.72

        Oct Nov     Dic  year
Día
1    728.21   0       0  2019
2    729.38   0  812.13  2019
3    727.80   0  804.29  2019           Ene     Feb     Mar     Abr May     Jun     Jul     Ago     Sep  \
Día
1         0       0       0  852.03   0  806.32  821.23       0  776.46
2    748.74       0  818.32  863.81   0  796.46  816.29       0  770.59
3    754.16  799.11  817.45  861.89   0  782.86  803.98  757.06  771.45

        Oct     Nov     Dic  year
Día
1    788.15       0  767.29  2020
2    785.04  771.92  760.16  2020
3         0  769.17  755.34  2020           Ene     Feb     Mar     Abr May     Jun     Jul     Ago     Sep  \
Día
1         0       0       0  852.03   0  806.32  821.23       0  776.46
2    748.74       0  818.32  863.81   0  796.46  816.29       0  770.59
3    754.16  799.11  817.45  861.89   0  782.86  803.98  757.06  771.45

        Oct     Nov     Dic  year
Día
1    788.15       0  767.29  2020
2    785.04  771.92  760.16  2020
3         0  769.17  755.34  2020

In [16]:
#e) Fuerce que todas las variables sean de tipo int o de tipo float.

cols=[i for i in dolar_2019.columns if i not in ["year"]]
for col in cols:
    dolar_2019[col]=pd.to_numeric(dolar_2019[col])
    dolar_2020_txt[col]=pd.to_numeric(dolar_2020_txt[col])
    dolar_2020_regex[col]=pd.to_numeric(dolar_2020_regex[col])


print("----imprimo tipo de columnas---")

print(dolar_2019.dtypes,dolar_2020_txt.dtypes,dolar_2020_regex.dtypes)

----imprimo tipo de columnas---
Ene     float64
Feb     float64
Mar     float64
Abr     float64
May     float64
Jun     float64
Jul     float64
Ago     float64
Sep     float64
Oct     float64
Nov     float64
Dic     float64
year      int64
dtype: object Ene     float64
Feb     float64
Mar     float64
Abr     float64
May     float64
Jun     float64
Jul     float64
Ago     float64
Sep     float64
Oct     float64
Nov     float64
Dic     float64
year      int64
dtype: object Ene     float64
Feb     float64
Mar     float64
Abr     float64
May     float64
Jun     float64
Jul     float64
Ago     float64
Sep     float64
Oct     float64
Nov     float64
Dic     float64
year      int64
dtype: object

In [17]:
#5.-Exporte estos tres dataframes en la carpeta data/interim de la siguiente forma:
#dolar_2019 en formato csv, separado por comas, con nombre d2019.csv
#dolar_2020_txt en formato txt, separado por un espacio simple, con nombre d2020.txt.
#dolar_2020_regex en formato CSV, separado por ";", de nombre dolar_2020_excel.csv

dolar_2019.to_csv('../data/interim/d2019.csv',sep =",")
dolar_2020_txt.to_csv('../data/interim/d2020.txt',sep =" ")
dolar_2020_regex.to_csv('../data/interim/dolar_2020_excel.csv',sep =";")

In [18]:
#6.-Concatene con pd.concat de dos formas:
#dolar_2019 y dolar_2020_txt solo con el argumento axis=1 guardandolo en el dataframe
#df_concat_1
#dolar_2019 y dolar_2020_txt solo con el argumento axis=0 guardandolo en el dataframe
#df_concat_0
#¿Qué problema podríamos tener con las columnas en df_concat_1 y en los índices en
#df_concat_0?

In [19]:
df_concat_1 = pd.concat([dolar_2019,dolar_2020_txt],axis=1)
df_concat_0 = pd.concat([dolar_2019,dolar_2020_txt],axis=0)
print(df_concat_1)

#axis determina concatenar a lo largo de qué eje,
#0 es para las filas y 1 para las columnas.

#en df_concat_0 se duplicaron la cantidad de filas (62 en vez de 31)
#y el indice se estan repitiendo los dias

#en df_concat_1 se duplicaron la cantidad de columnas, hay columnas con valores distintos
#pero nombre de columna repetido

        Ene     Feb     Mar     Abr     May     Jun     Jul     Ago     Sep  \
Día
1      0.00  657.81  651.79  678.53    0.00    0.00  679.15  700.82    0.00
2    694.77    0.00    0.00  672.56  678.71    0.00  677.62  704.88  720.20
3    697.09    0.00    0.00  670.05  683.31  709.80  681.30    0.00  724.72
4    697.64  655.39  656.57  667.55    0.00  704.59  680.48    0.00  725.69
5      0.00  653.80  659.07  666.32    0.00  696.78  677.64  711.13  723.30
6      0.00  652.78  657.49    0.00  678.68  693.25    0.00  721.70  717.52
7    688.42  653.90  658.40    0.00  681.09  692.21    0.00  716.35    0.00
8    679.69  654.44  662.19  664.17  683.49    0.00  683.12  718.55    0.00
9    680.10    0.00    0.00  663.01  684.51    0.00  685.83  710.98  711.22
10   678.09    0.00    0.00  663.15  686.43  692.28  688.88    0.00  713.72
11   677.58  656.46  670.83  662.92    0.00  697.34  685.40    0.00  714.77
12     0.00  660.82  669.37  664.19    0.00  693.60  683.38  712.04  714.39
13     0.00  660.49  667.09    0.00  685.67  694.89    0.00  716.69  711.29
14   675.15  661.60  665.68    0.00  693.04  696.25    0.00  708.37    0.00
15   674.95  665.90  670.62  660.67  692.33    0.00  681.07    0.00    0.00
16   673.76    0.00    0.00  662.86  692.62    0.00    0.00  710.14  707.07
17   672.73    0.00    0.00  663.98  692.79  698.72  679.48    0.00  709.81
18   671.37  663.98  669.39  660.48    0.00  699.52  681.69    0.00    0.00
19     0.00  660.82  667.21    0.00    0.00  696.81  683.27  709.26    0.00
20     0.00  658.75  664.78    0.00  696.61  693.99    0.00  711.94    0.00
21   670.10  654.52  666.13    0.00    0.00  684.19    0.00  710.63    0.00
22   672.42  654.33  665.12  662.27  697.23    0.00  685.81  709.52    0.00
23   672.26    0.00    0.00  663.91  696.70    0.00  688.28  713.22  715.24
24   672.41    0.00    0.00  668.19  698.03  683.41  691.57    0.00  722.17
25   672.14  651.36  676.60  672.83    0.00  682.31  691.36    0.00  721.92
26     0.00  649.22  679.08  676.21    0.00  678.32  694.16  716.40  727.08
27     0.00  649.80  679.02    0.00  694.84  680.06    0.00  718.75  726.17
28   667.04  649.92  683.73    0.00  696.46  679.86    0.00  721.55    0.00
29   671.29    0.00  681.09  673.86  703.48    0.00  696.62  724.20    0.00
30   669.60    0.00    0.00  677.67  708.20    0.00  697.22  720.65  725.68
31   666.76    0.00    0.00    0.00  707.86    0.00  699.98    0.00    0.00

        Oct  ...     Abr     May     Jun     Jul     Ago     Sep     Oct  \
Día          ...
1    728.21  ...  852.03    0.00  806.32  821.23    0.00  776.46  788.15
2    729.38  ...  863.81    0.00  796.46  816.29    0.00  770.59  785.04
3    727.80  ...  861.89    0.00  782.86  803.98  757.06  771.45    0.00
4    719.53  ...    0.00  837.92  769.13    0.00  761.34  773.71    0.00
5      0.00  ...    0.00  838.74  775.58    0.00  767.98    0.00  790.81
6      0.00  ...  863.99  832.84    0.00  801.46  774.82    0.00  794.34
7    715.53  ...  853.91  839.08    0.00  798.79  777.18  773.76  797.35
8    717.05  ...  842.05  836.27  764.97  793.88    0.00  773.24  795.05
9    722.28  ...  851.90    0.00  769.26  786.18    0.00  776.65  797.25
10   724.27  ...    0.00    0.00  771.96  781.74  784.28  767.87    0.00
11   720.61  ...    0.00  827.65  767.93    0.00  796.58  764.99    0.00
12     0.00  ...    0.00  826.05  784.65    0.00  793.61    0.00    0.00
13     0.00  ...  839.49  821.88    0.00  790.82  792.69    0.00  796.05
14   712.98  ...  844.57  820.38    0.00  788.22  793.32  768.34  797.66
15   712.04  ...  848.63  822.93  790.73  787.87    0.00  767.01  798.56
16   715.48  ...  859.31    0.00  796.87    0.00    0.00  760.01  801.91
17   718.69  ...  852.52    0.00  779.10  787.50  796.73  761.54    0.00
18   713.23  ...    0.00  823.86  798.53    0.00  803.40    0.00    0.00
19     0.00  ...    0.00  820.65  812.19    0.00  796.23    0.00  795.68
20     0.00  ...  849.45  819.08    0.00  787.26  784.25    0.00  788.27
21   709.71  ...  856.23    0.00    0.00  786.04  785.84  764.34  786.66
22   723.52  ...  862.06  806.17  817.33  777.66    0.00  772.83  784.07
23   726.24  ...  856.51    0.00  816.02  769.06    0.00  773.40  781.41
24   726.15  ...  858.87    0.00  817.90  767.17  790.88  781.44    0.00
25   723.43  ...    0.00  805.75  820.68    0.00  786.17  788.02    0.00
26     0.00  ...    0.00  803.74  813.25    0.00  784.44    0.00  777.72
27     0.00  ...  859.95  802.10    0.00  768.63  786.91    0.00  779.57
28   725.87  ...  856.76  816.47    0.00  768.81  784.27  787.15  772.05
29   724.37  ...  850.41  812.74    0.00  767.82    0.00  784.19  775.56
30   726.34  ...  836.62    0.00  816.36  759.18    0.00  784.46  770.45
31     0.00  ...    0.00    0.00    0.00  754.45  779.92    0.00    0.00

        Nov     Dic  year
Día
1      0.00  767.29  2020
2    771.92  760.16  2020
3    769.17  755.34  2020
4    758.53  752.03  2020
5    757.16    0.00  2020
6    752.01    0.00  2020
7      0.00  747.61  2020
8      0.00    0.00  2020
9    759.25  744.82  2020
10   753.75  739.45  2020
11   760.90  738.17  2020
12   757.42    0.00  2020
13   757.43    0.00  2020
14     0.00  733.55  2020
15     0.00  731.58  2020
16   766.70  734.23  2020
17   767.86  735.09  2020
18   767.05  723.44  2020
19   758.10    0.00  2020
20   758.62    0.00  2020
21     0.00  723.85  2020
22     0.00  730.70  2020
23   761.55  728.96  2020
24   765.96  716.25  2020
25   772.83    0.00  2020
26   771.68    0.00  2020
27   766.00    0.00  2020
28     0.00  710.26  2020
29     0.00  710.64  2020
30   766.69  711.24  2020
31     0.00    0.00  2020

[31 rows x 26 columns]

In [20]:
print(df_concat_0)

        Ene     Feb     Mar     Abr     May     Jun     Jul     Ago     Sep  \
Día
1      0.00  657.81  651.79  678.53    0.00    0.00  679.15  700.82    0.00
2    694.77    0.00    0.00  672.56  678.71    0.00  677.62  704.88  720.20
3    697.09    0.00    0.00  670.05  683.31  709.80  681.30    0.00  724.72
4    697.64  655.39  656.57  667.55    0.00  704.59  680.48    0.00  725.69
5      0.00  653.80  659.07  666.32    0.00  696.78  677.64  711.13  723.30
..      ...     ...     ...     ...     ...     ...     ...     ...     ...
27   776.52  811.10  836.05  859.95  802.10    0.00  768.63  786.91    0.00
28   787.86  816.26    0.00  856.76  816.47    0.00  768.81  784.27  787.15
29   788.13    0.00    0.00  850.41  812.74    0.00  767.82    0.00  784.19
30   788.18    0.00  835.23  836.62    0.00  816.36  759.18    0.00  784.46
31   797.96    0.00  846.30    0.00    0.00    0.00  754.45  779.92    0.00

        Oct     Nov     Dic  year
Día
1    728.21    0.00    0.00  2019
2    729.38    0.00  812.13  2019
3    727.80    0.00  804.29  2019
4    719.53  735.05  802.44  2019
5      0.00  736.66  796.75  2019
..      ...     ...     ...   ...
27   779.57  766.00    0.00  2020
28   772.05    0.00  710.26  2020
29   775.56    0.00  710.64  2020
30   770.45  766.69  711.24  2020
31     0.00    0.00    0.00  2020

[62 rows x 13 columns]