In [1]:
# Ejercicio III:

In [2]:
#1.- En el notebook 3_nb_***.ipynb, cargue los dos archivos d2019.csv y d2020.txt en dos
#dataframes llamados df2019 y df2020 respectivamente. Luego, usando el método melt, 
#genera un dataframe llamado df_sii donde estén incluidos los datos del 2019 y del 2020,
#que tenga las columnas year,mes, dia, valor, y guardalo como csv en la carpeta
#data/interim con el nombre df_sii.csv.

import pandas as pd

df2019 = pd.read_csv('../data/interim/d2019.csv',index_col = 0,delimiter=",")
df2020 = pd.read_csv('../data/interim/d2020.txt',index_col = 0,delimiter=" ")

df_concat_0 = pd.concat([df2019,df2020],axis=0)
df_concat_0.reset_index(inplace=True)

#print(df_concat_0)

df_sii = pd.melt(df_concat_0,id_vars=['year','Día'],
value_vars=['Ene', 'Feb','Mar','Abr','May','Jun','Jul','Ago','Sep','Oct','Nov','Dic'],
var_name='Mes', value_name='valor')

print(df_sii)

df_sii.to_csv('../data/interim/df_sii.csv',sep =";")

     year  Día  Mes   valor
0    2019    1  Ene    0.00
1    2019    2  Ene  694.77
2    2019    3  Ene  697.09
3    2019    4  Ene  697.64
4    2019    5  Ene    0.00
..    ...  ...  ...     ...
739  2020   27  Dic    0.00
740  2020   28  Dic  710.26
741  2020   29  Dic  710.64
742  2020   30  Dic  711.24
743  2020   31  Dic    0.00

[744 rows x 4 columns]

In [3]:
#2.-Usando el método groupby en df_sii:

#Agrupa por mes, con el argumento as_index = True y usando el método aggregation con el
#método mean, imprime el resultado.
#Agrupa por [year, mes], con el argumento as_index = False y usando el método agg con el
#método mean, imprime el resultado
#Compara ambos resultados. ¿Qué cambia al usar as_index = False? ¿Al agrupar por mes,
# con respecto a [year,mes]?

In [4]:
import pandas as pd



#Agrupa por mes, con el argumento as_index = True y usando el método aggregation con el
#método mean, imprime el resultado.

print(df_sii.groupby('Mes', as_index=True).agg({"valor": "mean"}).sort_values(by = "valor")) 

 
#Agrupa por [year, mes], con el argumento as_index = False y usando el método agg con el
#método mean, imprime el resultado

print(df_sii.groupby(['year', 'Mes'], as_index=False).agg({"valor": "mean"}).sort_values(by = "year"))


#Compara ambos resultados. ¿Qué cambia al usar as_index = False? ¿Al agrupar por mes,

# con respecto a [year,mes]?

#Al agrupar por mes con "as_index" =True, se retorna la etiqueta de la variable por la
#cual se realiza la agrupación, es  este caso "Mes",  como índice de los resultados del
#dataframe.

#Al agrupar por [year, mes] con "as_index" =False, se retorna los índices  del
#dataframe "df_sii"  de acuerdo a las filas de resultados obtenidos realizada
#la agrupación por las variables  [year,mes]. La variables de la agrupación se 
#visualizan como columnas de resultados.

          valor
Mes
Feb  468.607742
Sep  470.538871
Dic  485.523710
May  486.231935
Jun  492.197742
Ago  507.510806
Nov  508.890000
Ene  514.413065
Abr  515.102258
Jul  521.892742
Oct  522.843871
Mar  523.992097
    year  Mes       valor
0   2019  Abr  452.109032
10  2019  Oct  511.700323
9   2019  Nov  500.987097
8   2019  May  468.776774
7   2019  Mar  452.298387
6   2019  Jun  446.715484
11  2019  Sep  417.160000
4   2019  Feb  423.422258
3   2019  Ene  480.495484
2   2019  Dic  497.026129
1   2019  Ago  483.476452
5   2019  Jul  486.880968
21  2020  Nov  516.792903
20  2020  May  503.687097
19  2020  Mar  595.685806
18  2020  Jun  537.680000
17  2020  Jul  556.904516
15  2020  Ene  548.330645
14  2020  Dic  474.021290
13  2020  Ago  531.545161
12  2020  Abr  578.095484
22  2020  Oct  533.987419
16  2020  Feb  513.793226
23  2020  Sep  523.917742

In [5]:
#3.-¿Qué podrías inferir de los missing values y los días hábiles? Úsalos para crear una nueva variable
#llamada dia_de_la_semana en df_sii con valores "Lunes", "Martes", "Miércoles", "Jueves",
#"Viernes", "Sábado", "Domingo".
import pandas as pd
import numpy as np


df_sii["day_str"] = df_sii["Día"].astype(str)
df_sii["day_str"] = df_sii["day_str"].str.pad(2,side='left',fillchar='0')

df_sii["month_str"] = np.where(df_sii['Mes']=='Ene', '01',
              np.where(df_sii['Mes']=='Feb', '02',
              np.where(df_sii['Mes']=='Mar', '03',
              np.where(df_sii['Mes']=='Abr', '04',
              np.where(df_sii['Mes']=='May', '05',
              np.where(df_sii['Mes']=='Jun', '06',
              np.where(df_sii['Mes']=='Jul', '07',
              np.where(df_sii['Mes']=='Ago', '08',
              np.where(df_sii['Mes']=='Sep', '09',
              np.where(df_sii['Mes']=='Oct', '10',
              np.where(df_sii['Mes']=='Nov', '11',
              np.where(df_sii['Mes']=='Dic', '12', 'Ene'))))))))))))
df_sii["year_str"] = df_sii["Mes"].astype(str)
df_sii["date_str"] = df_sii["year_str"]+"-"+df_sii["month_str"]+"-"+df_sii["day_str"]
df_sii['Date'] = pd.to_datetime(df_sii['date_str'], errors='coerce')
#df_sii['Date'] = df['Date'].apply(pd.datetools.normalize_date)

pd.set_option('max_rows', 300)
#print(df_sii.Date.dtype)
#df_sii["dia_de_la_semana"] =  df_sii['Date'].dt.dayofweek
def my_func(row):
    return row.dayofweek
df_sii["dia_de_la_semana"] =  df_sii['Date'].apply(lambda x: my_func(x) if(pd.notnull(x)) else -1)
df_sii["dia_de_la_semana"] = np.where(df_sii['dia_de_la_semana']==0, 'Lunes',
              np.where(df_sii['dia_de_la_semana']==1, 'Martes',
              np.where(df_sii['dia_de_la_semana']==2, 'Miercoles',
              np.where(df_sii['dia_de_la_semana']==3, 'Jueves',
              np.where(df_sii['dia_de_la_semana']==4, 'Viernes',
              np.where(df_sii['dia_de_la_semana']==5, 'Sabado',
              np.where(df_sii['dia_de_la_semana']==6, 'Domingo', 'NA')))))))
#df[['A','B']].apply(lambda x: my_func(x) if(pd.notnull(x[0])) else x, axis = 1)
#df_sii['Date'].dt.day_of_week
df_sii

df_sii = df_sii[df_sii['dia_de_la_semana'] != 'NA'] 
#acá se sacan los NA que corresponden a los días que no existen ej el 31 de febrero
df_sii
df_sii2=df_sii[df_sii['valor']==0] 
# acá mostramos los valores 0 (anteriormente habiamos reemplazado los nan por cero)
#y justamente corresponde a sabado y domingo más días festivos


#Por lo tanto, en la base el valor 0.0 correspondiente al dolar, no signfica que el dolar haya estado a 0 pesos.
#Significa que ese día el mercado estaba cerrado

print(df_sii2)

     year  Día  Mes  valor day_str month_str year_str   date_str       Date  \
63   2019    2  Feb    0.0      02        02      Feb  Feb-02-02 2002-02-02
64   2019    3  Feb    0.0      03        02      Feb  Feb-02-03 2003-02-02
70   2019    9  Feb    0.0      09        02      Feb  Feb-02-09 2009-02-02
71   2019   10  Feb    0.0      10        02      Feb  Feb-02-10 2010-02-02
77   2019   16  Feb    0.0      16        02      Feb  Feb-02-16 2016-02-02
78   2019   17  Feb    0.0      17        02      Feb  Feb-02-17 2017-02-02
84   2019   23  Feb    0.0      23        02      Feb  Feb-02-23 2023-02-02
85   2019   24  Feb    0.0      24        02      Feb  Feb-02-24 2024-02-02
90   2019   29  Feb    0.0      29        02      Feb  Feb-02-29 2029-02-02
91   2019   30  Feb    0.0      30        02      Feb  Feb-02-30 2030-02-02
92   2019   31  Feb    0.0      31        02      Feb  Feb-02-31 2031-02-02
93   2020    1  Feb    0.0      01        02      Feb  Feb-02-01 2001-02-02
94   2020    2  Feb    0.0      02        02      Feb  Feb-02-02 2002-02-02
100  2020    8  Feb    0.0      08        02      Feb  Feb-02-08 2008-02-02
101  2020    9  Feb    0.0      09        02      Feb  Feb-02-09 2009-02-02
107  2020   15  Feb    0.0      15        02      Feb  Feb-02-15 2015-02-02
108  2020   16  Feb    0.0      16        02      Feb  Feb-02-16 2016-02-02
114  2020   22  Feb    0.0      22        02      Feb  Feb-02-22 2022-02-02
115  2020   23  Feb    0.0      23        02      Feb  Feb-02-23 2023-02-02
121  2020   29  Feb    0.0      29        02      Feb  Feb-02-29 2029-02-02
122  2020   30  Feb    0.0      30        02      Feb  Feb-02-30 2030-02-02
123  2020   31  Feb    0.0      31        02      Feb  Feb-02-31 2031-02-02
125  2019    2  Mar    0.0      02        03      Mar  Mar-03-02 2002-03-03
126  2019    3  Mar    0.0      03        03      Mar  Mar-03-03 2003-03-03
132  2019    9  Mar    0.0      09        03      Mar  Mar-03-09 2009-03-03
133  2019   10  Mar    0.0      10        03      Mar  Mar-03-10 2010-03-03
139  2019   16  Mar    0.0      16        03      Mar  Mar-03-16 2016-03-03
140  2019   17  Mar    0.0      17        03      Mar  Mar-03-17 2017-03-03
146  2019   23  Mar    0.0      23        03      Mar  Mar-03-23 2023-03-03
147  2019   24  Mar    0.0      24        03      Mar  Mar-03-24 2024-03-03
153  2019   30  Mar    0.0      30        03      Mar  Mar-03-30 2030-03-03
154  2019   31  Mar    0.0      31        03      Mar  Mar-03-31 2031-03-03
155  2020    1  Mar    0.0      01        03      Mar  Mar-03-01 2001-03-03
161  2020    7  Mar    0.0      07        03      Mar  Mar-03-07 2007-03-03
162  2020    8  Mar    0.0      08        03      Mar  Mar-03-08 2008-03-03
168  2020   14  Mar    0.0      14        03      Mar  Mar-03-14 2014-03-03
169  2020   15  Mar    0.0      15        03      Mar  Mar-03-15 2015-03-03
175  2020   21  Mar    0.0      21        03      Mar  Mar-03-21 2021-03-03
176  2020   22  Mar    0.0      22        03      Mar  Mar-03-22 2022-03-03
182  2020   28  Mar    0.0      28        03      Mar  Mar-03-28 2028-03-03
183  2020   29  Mar    0.0      29        03      Mar  Mar-03-29 2029-03-03
248  2019    1  May    0.0      01        05      May  May-05-01 2001-05-05
251  2019    4  May    0.0      04        05      May  May-05-04 2004-05-05
252  2019    5  May    0.0      05        05      May  May-05-05 2005-05-05
258  2019   11  May    0.0      11        05      May  May-05-11 2011-05-05
259  2019   12  May    0.0      12        05      May  May-05-12 2012-05-05
265  2019   18  May    0.0      18        05      May  May-05-18 2018-05-05
266  2019   19  May    0.0      19        05      May  May-05-19 2019-05-05
268  2019   21  May    0.0      21        05      May  May-05-21 2021-05-05
272  2019   25  May    0.0      25        05      May  May-05-25 2025-05-05
273  2019   26  May    0.0      26        05      May  May-05-26 2026-05-05
279  2020    1  May    0.0      01        05      May  May-05-01 2001-05-05
280  2020    2  May    0.0      02        05      May  May-05-02 2002-05-05
281  2020    3  May    0.0      03        05      May  May-05-03 2003-05-05
287  2020    9  May    0.0      09        05      May  May-05-09 2009-05-05
288  2020   10  May    0.0      10        05      May  May-05-10 2010-05-05
294  2020   16  May    0.0      16        05      May  May-05-16 2016-05-05
295  2020   17  May    0.0      17        05      May  May-05-17 2017-05-05
299  2020   21  May    0.0      21        05      May  May-05-21 2021-05-05
301  2020   23  May    0.0      23        05      May  May-05-23 2023-05-05
302  2020   24  May    0.0      24        05      May  May-05-24 2024-05-05
308  2020   30  May    0.0      30        05      May  May-05-30 2030-05-05
309  2020   31  May    0.0      31        05      May  May-05-31 2031-05-05
310  2019    1  Jun    0.0      01        06      Jun  Jun-06-01 2001-06-06
311  2019    2  Jun    0.0      02        06      Jun  Jun-06-02 2002-06-06
317  2019    8  Jun    0.0      08        06      Jun  Jun-06-08 2008-06-06
318  2019    9  Jun    0.0      09        06      Jun  Jun-06-09 2009-06-06
324  2019   15  Jun    0.0      15        06      Jun  Jun-06-15 2015-06-06
325  2019   16  Jun    0.0      16        06      Jun  Jun-06-16 2016-06-06
331  2019   22  Jun    0.0      22        06      Jun  Jun-06-22 2022-06-06
332  2019   23  Jun    0.0      23        06      Jun  Jun-06-23 2023-06-06
338  2019   29  Jun    0.0      29        06      Jun  Jun-06-29 2029-06-06
339  2019   30  Jun    0.0      30        06      Jun  Jun-06-30 2030-06-06
340  2019   31  Jun    0.0      31        06      Jun  Jun-06-31 2031-06-06
346  2020    6  Jun    0.0      06        06      Jun  Jun-06-06 2006-06-06
347  2020    7  Jun    0.0      07        06      Jun  Jun-06-07 2007-06-06
353  2020   13  Jun    0.0      13        06      Jun  Jun-06-13 2013-06-06
354  2020   14  Jun    0.0      14        06      Jun  Jun-06-14 2014-06-06
360  2020   20  Jun    0.0      20        06      Jun  Jun-06-20 2020-06-06
361  2020   21  Jun    0.0      21        06      Jun  Jun-06-21 2021-06-06
367  2020   27  Jun    0.0      27        06      Jun  Jun-06-27 2027-06-06
368  2020   28  Jun    0.0      28        06      Jun  Jun-06-28 2028-06-06
369  2020   29  Jun    0.0      29        06      Jun  Jun-06-29 2029-06-06
371  2020   31  Jun    0.0      31        06      Jun  Jun-06-31 2031-06-06
377  2019    6  Jul    0.0      06        07      Jul  Jul-07-06 2006-07-07
378  2019    7  Jul    0.0      07        07      Jul  Jul-07-07 2007-07-07
384  2019   13  Jul    0.0      13        07      Jul  Jul-07-13 2013-07-07
385  2019   14  Jul    0.0      14        07      Jul  Jul-07-14 2014-07-07
387  2019   16  Jul    0.0      16        07      Jul  Jul-07-16 2016-07-07
391  2019   20  Jul    0.0      20        07      Jul  Jul-07-20 2020-07-07
392  2019   21  Jul    0.0      21        07      Jul  Jul-07-21 2021-07-07
398  2019   27  Jul    0.0      27        07      Jul  Jul-07-27 2027-07-07
399  2019   28  Jul    0.0      28        07      Jul  Jul-07-28 2028-07-07
406  2020    4  Jul    0.0      04        07      Jul  Jul-07-04 2004-07-07
407  2020    5  Jul    0.0      05        07      Jul  Jul-07-05 2005-07-07
413  2020   11  Jul    0.0      11        07      Jul  Jul-07-11 2011-07-07
414  2020   12  Jul    0.0      12        07      Jul  Jul-07-12 2012-07-07
418  2020   16  Jul    0.0      16        07      Jul  Jul-07-16 2016-07-07
420  2020   18  Jul    0.0      18        07      Jul  Jul-07-18 2018-07-07
421  2020   19  Jul    0.0      19        07      Jul  Jul-07-19 2019-07-07
427  2020   25  Jul    0.0      25        07      Jul  Jul-07-25 2025-07-07
428  2020   26  Jul    0.0      26        07      Jul  Jul-07-26 2026-07-07
496  2019    1  Sep    0.0      01        09      Sep  Sep-09-01 2001-09-09
502  2019    7  Sep    0.0      07        09      Sep  Sep-09-07 2007-09-09
503  2019    8  Sep    0.0      08        09      Sep  Sep-09-08 2008-09-09
509  2019   14  Sep    0.0      14        09      Sep  Sep-09-14 2014-09-09
510  2019   15  Sep    0.0      15        09      Sep  Sep-09-15 2015-09-09
513  2019   18  Sep    0.0      18        09      Sep  Sep-09-18 2018-09-09
514  2019   19  Sep    0.0      19        09      Sep  Sep-09-19 2019-09-09
515  2019   20  Sep    0.0      20        09      Sep  Sep-09-20 2020-09-09
516  2019   21  Sep    0.0      21        09      Sep  Sep-09-21 2021-09-09
517  2019   22  Sep    0.0      22        09      Sep  Sep-09-22 2022-09-09
523  2019   28  Sep    0.0      28        09      Sep  Sep-09-28 2028-09-09
524  2019   29  Sep    0.0      29        09      Sep  Sep-09-29 2029-09-09
526  2019   31  Sep    0.0      31        09      Sep  Sep-09-31 2031-09-09
531  2020    5  Sep    0.0      05        09      Sep  Sep-09-05 2005-09-09
532  2020    6  Sep    0.0      06        09      Sep  Sep-09-06 2006-09-09
538  2020   12  Sep    0.0      12        09      Sep  Sep-09-12 2012-09-09
539  2020   13  Sep    0.0      13        09      Sep  Sep-09-13 2013-09-09
544  2020   18  Sep    0.0      18        09      Sep  Sep-09-18 2018-09-09
545  2020   19  Sep    0.0      19        09      Sep  Sep-09-19 2019-09-09
546  2020   20  Sep    0.0      20        09      Sep  Sep-09-20 2020-09-09
552  2020   26  Sep    0.0      26        09      Sep  Sep-09-26 2026-09-09
553  2020   27  Sep    0.0      27        09      Sep  Sep-09-27 2027-09-09
557  2020   31  Sep    0.0      31        09      Sep  Sep-09-31 2031-09-09
562  2019    5  Oct    0.0      05        10      Oct  Oct-10-05 2005-10-10
563  2019    6  Oct    0.0      06        10      Oct  Oct-10-06 2006-10-10
569  2019   12  Oct    0.0      12        10      Oct  Oct-10-12 2012-10-10
570  2019   13  Oct    0.0      13        10      Oct  Oct-10-13 2013-10-10
576  2019   19  Oct    0.0      19        10      Oct  Oct-10-19 2019-10-10
577  2019   20  Oct    0.0      20        10      Oct  Oct-10-20 2020-10-10
583  2019   26  Oct    0.0      26        10      Oct  Oct-10-26 2026-10-10
584  2019   27  Oct    0.0      27        10      Oct  Oct-10-27 2027-10-10
588  2019   31  Oct    0.0      31        10      Oct  Oct-10-31 2031-10-10
591  2020    3  Oct    0.0      03        10      Oct  Oct-10-03 2003-10-10
592  2020    4  Oct    0.0      04        10      Oct  Oct-10-04 2004-10-10
598  2020   10  Oct    0.0      10        10      Oct  Oct-10-10 2010-10-10
599  2020   11  Oct    0.0      11        10      Oct  Oct-10-11 2011-10-10
600  2020   12  Oct    0.0      12        10      Oct  Oct-10-12 2012-10-10
605  2020   17  Oct    0.0      17        10      Oct  Oct-10-17 2017-10-10
606  2020   18  Oct    0.0      18        10      Oct  Oct-10-18 2018-10-10
612  2020   24  Oct    0.0      24        10      Oct  Oct-10-24 2024-10-10
613  2020   25  Oct    0.0      25        10      Oct  Oct-10-25 2025-10-10
619  2020   31  Oct    0.0      31        10      Oct  Oct-10-31 2031-10-10
620  2019    1  Nov    0.0      01        11      Nov  Nov-11-01 2001-11-11
621  2019    2  Nov    0.0      02        11      Nov  Nov-11-02 2002-11-11
622  2019    3  Nov    0.0      03        11      Nov  Nov-11-03 2003-11-11
628  2019    9  Nov    0.0      09        11      Nov  Nov-11-09 2009-11-11
629  2019   10  Nov    0.0      10        11      Nov  Nov-11-10 2010-11-11
635  2019   16  Nov    0.0      16        11      Nov  Nov-11-16 2016-11-11
636  2019   17  Nov    0.0      17        11      Nov  Nov-11-17 2017-11-11
642  2019   23  Nov    0.0      23        11      Nov  Nov-11-23 2023-11-11
643  2019   24  Nov    0.0      24        11      Nov  Nov-11-24 2024-11-11
649  2019   30  Nov    0.0      30        11      Nov  Nov-11-30 2030-11-11
650  2019   31  Nov    0.0      31        11      Nov  Nov-11-31 2031-11-11
651  2020    1  Nov    0.0      01        11      Nov  Nov-11-01 2001-11-11
657  2020    7  Nov    0.0      07        11      Nov  Nov-11-07 2007-11-11
658  2020    8  Nov    0.0      08        11      Nov  Nov-11-08 2008-11-11
664  2020   14  Nov    0.0      14        11      Nov  Nov-11-14 2014-11-11
665  2020   15  Nov    0.0      15        11      Nov  Nov-11-15 2015-11-11
671  2020   21  Nov    0.0      21        11      Nov  Nov-11-21 2021-11-11
672  2020   22  Nov    0.0      22        11      Nov  Nov-11-22 2022-11-11
678  2020   28  Nov    0.0      28        11      Nov  Nov-11-28 2028-11-11
679  2020   29  Nov    0.0      29        11      Nov  Nov-11-29 2029-11-11
681  2020   31  Nov    0.0      31        11      Nov  Nov-11-31 2031-11-11

    dia_de_la_semana
63            Sabado
64           Domingo
70             Lunes
71            Martes
77            Martes
78            Jueves
84            Jueves
85           Viernes
90           Viernes
91            Sabado
92           Domingo
93           Viernes
94            Sabado
100           Sabado
101            Lunes
107            Lunes
108           Martes
114        Miercoles
115           Jueves
121          Viernes
122           Sabado
123          Domingo
125          Domingo
126            Lunes
132           Martes
133        Miercoles
139           Jueves
140          Viernes
146          Viernes
147          Domingo
153          Domingo
154            Lunes
155           Sabado
161           Sabado
162            Lunes
168            Lunes
169           Martes
175        Miercoles
176           Jueves
182          Viernes
183           Sabado
248           Sabado
251        Miercoles
252           Jueves
258           Jueves
259           Sabado
265           Sabado
266          Domingo
268        Miercoles
272            Lunes
273           Martes
279           Sabado
280          Domingo
281            Lunes
287           Martes
288        Miercoles
294           Jueves
295          Viernes
299        Miercoles
301          Viernes
302          Domingo
308          Domingo
309            Lunes
310        Miercoles
311           Jueves
317          Viernes
318           Sabado
324           Sabado
325            Lunes
331            Lunes
332           Martes
338        Miercoles
339           Jueves
340          Viernes
346           Martes
347        Miercoles
353           Jueves
354          Viernes
360           Sabado
361          Domingo
367          Domingo
368           Martes
369        Miercoles
371          Viernes
377          Viernes
378           Sabado
384          Domingo
385            Lunes
387           Jueves
391           Martes
392        Miercoles
398        Miercoles
399          Viernes
406        Miercoles
407           Jueves
413           Jueves
414           Sabado
418           Jueves
420           Sabado
421          Domingo
427            Lunes
428           Martes
496          Domingo
502          Domingo
503           Martes
509           Martes
510        Miercoles
513          Domingo
514            Lunes
515        Miercoles
516           Jueves
517          Viernes
523           Sabado
524          Domingo
526           Martes
531          Viernes
532           Sabado
538          Domingo
539            Lunes
544          Domingo
545            Lunes
546        Miercoles
552        Miercoles
553           Jueves
557           Martes
562            Lunes
563           Martes
569        Miercoles
570           Jueves
576           Jueves
577           Sabado
583           Sabado
584          Domingo
588          Viernes
591          Viernes
592          Domingo
598          Domingo
599            Lunes
600        Miercoles
605           Martes
606        Miercoles
612           Jueves
613          Viernes
619          Viernes
620          Domingo
621            Lunes
622           Martes
628        Miercoles
629           Jueves
635          Viernes
636           Sabado
642           Sabado
643            Lunes
649            Lunes
650           Martes
651          Domingo
657          Domingo
658           Martes
664           Martes
665        Miercoles
671           Jueves
672          Viernes
678           Sabado
679          Domingo
681           Martes

In [6]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\zine5\anaconda3\lib\site-packages (3.0.7)
Requirement already satisfied: et-xmlfile in c:\users\zine5\anaconda3\lib\site-packages (from openpyxl) (1.0.1)

In [7]:
#4.-Explora el archivo dolar_observado_bc.xlsx y su estructura.  

#Lee cada hoja por separado con read_excel, usando los argumentos skiprows=2, dtype={'Periodo':str }.
#Ocupa el método str.split para crear las columnas dia,mes y year en cada dataframe.
#Crea un dataframe que una todos los dataframes en uno solo con las mismas columnas, y nombralo df_bc_all.
#Crea una carpeta dentro de la carpeta data/processed llamada dolar_bc_year, agrupa por year usando groupby
#y guarda un CSV para cada año desde 1982 hasta 2022, con los nombres dolar_bc_YYYY.csv donde YYYY es el
#año. Busca una manera de hacerlo iterando y no uno a uno.
#Crea un dataframe que tenga los años 2019 y 2020 que se llame df_bc_2019_2020
#Compara los valores de df_bc_2019_2020 y df_sii. ¿Son iguales o diferentes?


#4.1 Lee cada hoja por separado con read_excel, usando los argumentos skiprows=2, dtype={'Periodo':str }.

#dolar_observado_bc=pd.read_excel('data/raw/dolar_observado_bc.xlsx',skiprows=2,dtype={'Periodo':str })


import pandas as pd
import numpy as np

 
dolar_observado_bc_80=pd.read_excel('../data/raw/dolar_observado_bc.xlsx',engine='openpyxl',skiprows=2,dtype={'Periodo':str },sheet_name='80')
dolar_observado_bc_90=pd.read_excel('../data/raw/dolar_observado_bc.xlsx',engine='openpyxl',skiprows=2,dtype={'Periodo':str },sheet_name='90')
dolar_observado_bc_00=pd.read_excel('../data/raw/dolar_observado_bc.xlsx',engine='openpyxl',skiprows=2,dtype={'Periodo':str },sheet_name='00')
dolar_observado_bc_10=pd.read_excel('../data/raw/dolar_observado_bc.xlsx',engine='openpyxl',skiprows=2,dtype={'Periodo':str },sheet_name='10')
dolar_observado_bc_20=pd.read_excel('../data/raw/dolar_observado_bc.xlsx',engine='openpyxl',skiprows=2,dtype={'Periodo':str },sheet_name='20')


#4.2 Ocupa el método str.split para crear las columnas dia,mes y year en cada dataframe.

dolar_observado_bc_80[['year','mes','dia']]=dolar_observado_bc_80.Periodo.str.split('-',expand=True)
dolar_observado_bc_90[['year','mes','dia']]=dolar_observado_bc_90.Periodo.str.split('-',expand=True)
dolar_observado_bc_00[['year','mes','dia']]=dolar_observado_bc_00.Periodo.str.split('-',expand=True)
dolar_observado_bc_10[['year','mes','dia']]=dolar_observado_bc_10.Periodo.str.split('-',expand=True)
dolar_observado_bc_20[['year','mes','dia']]=dolar_observado_bc_20.Periodo.str.split('-',expand=True)
 
dolar_observado_bc_80['dia']=dolar_observado_bc_80.dia.str.split(' ').str[0]
dolar_observado_bc_90['dia']=dolar_observado_bc_90.dia.str.split(' ').str[0]
dolar_observado_bc_00['dia']=dolar_observado_bc_00.dia.str.split(' ').str[0]
dolar_observado_bc_10['dia']=dolar_observado_bc_10.dia.str.split(' ').str[0]
dolar_observado_bc_20['dia']=dolar_observado_bc_20.dia.str.split(' ').str[0]



#4.3 Crea un dataframe que una todos los dataframes en uno solo con las mismas columnas, y nombralo df_bc_all.

df_bc_all= pd.concat([dolar_observado_bc_80, dolar_observado_bc_90,dolar_observado_bc_00,dolar_observado_bc_10,dolar_observado_bc_20]).reset_index()
         

4.4  #Crea una carpeta dentro de la carpeta data/processed llamada dolar_bc_year, agrupa por year usando groupby
#y guarda un CSV para cada año desde 1982 hasta 2022, con los nombres dolar_bc_YYYY.csv donde YYYY es el
#año. Busca una manera de hacerlo iterando y no uno a uno.



import os
from os import mkdir
if not os.path.exists('../data/processed/dolar_bc_year'):
    os.makedirs('../data/processed/dolar_bc_year')

df_bc_all['year']=df_bc_all['year'].astype('int')   
      
df_bc_agrupado = df_bc_all.groupby('year')

for anio,gr  in df_bc_agrupado:
    
    gr.to_csv(f"../data/processed/dolar_bc_year/dolar_bc_{anio}.csv",sep =",")


4.5 #Crea un dataframe que tenga los años 2019 y 2020 que se llame df_bc_2019_2020
    #Compara los valores de df_bc_2019_2020 y df_sii. ¿Son iguales o diferentes?

df_bc_2019_2020 = df_bc_all[(df_bc_all.year == 2019) | (df_bc_all.year == 2020)]
df_bc_2019_2020

#Ambos muestran la misma informacion(Año, mes, día, valor, periodo), sin embargo el dataframe df_sii
#muestra las fechas en formato "Date" y en string

       index              Periodo  1.Dólar observado  year mes dia
13294   3287  2019-01-01 00:00:00                NaN  2019  01  01
13295   3288  2019-01-02 00:00:00             694.77  2019  01  02
13296   3289  2019-01-03 00:00:00             697.09  2019  01  03
13297   3290  2019-01-04 00:00:00             697.64  2019  01  04
13298   3291  2019-01-05 00:00:00                NaN  2019  01  05
...      ...                  ...                ...   ...  ..  ..
14020    361  2020-12-27 00:00:00                NaN  2020  12  27
14021    362  2020-12-28 00:00:00             710.26  2020  12  28
14022    363  2020-12-29 00:00:00             710.64  2020  12  29
14023    364  2020-12-30 00:00:00             711.24  2020  12  30
14024    365  2020-12-31 00:00:00                NaN  2020  12  31

[731 rows x 6 columns]

In [8]:
df_sii

,year,Día,Mes,valor,day_str,month_str,year_str,date_str,Date,dia_de_la_semana
62,2019,1,Feb,657.81,01,02,Feb,Feb-02-01,2001-02-02,Viernes
63,2019,2,Feb,0.00,02,02,Feb,Feb-02-02,2002-02-02,Sabado
64,2019,3,Feb,0.00,03,02,Feb,Feb-02-03,2003-02-02,Domingo
65,2019,4,Feb,655.39,04,02,Feb,Feb-02-04,2004-02-02,Lunes
66,2019,5,Feb,653.80,05,02,Feb,Feb-02-05,2005-02-02,Miercoles
...,...,...,...,...,...,...,...,...,...,...
677,2020,27,Nov,766.00,27,11,Nov,Nov-11-27,2027-11-11,Jueves
678,2020,28,Nov,0.00,28,11,Nov,Nov-11-28,2028-11-11,Sabado
679,2020,29,Nov,0.00,29,11,Nov,Nov-11-29,2029-11-11,Domingo
680,2020,30,Nov,766.69,30,11,Nov,Nov-11-30,2030-11-11,Lunes
681,2020,31,Nov,0.00,31,11,Nov,Nov-11-31,2031-11-11,Martes

In [9]:
#5.- Haz un merge de la columna dia_de_la_semana del df_sii al dataframe df_bc_all. Luego, extiende
#la variable dia_de_la_semana para todos los valores. Finalmente, crea una variable con las combinaciones
#[dia,mes] que tienen al menos un NaN que sea en día de semana (es decir, excluyendo Sábado y Domingo).
#Luego, cuenta cuantos NaN(incluyendo Sábados y Domingos) hay para cada combinación[dia/mes].
#¿Qué puedes inferir de los días con mayor cantidad de NaN?

import pandas as pd
import numpy as np

df_bc_all["fecha"] = pd.to_datetime(df_bc_all["Periodo"])
def my_func(row):
    return row.dayofweek
df_bc_all["dia_de_la_semana"] =  df_bc_all['fecha'].apply(lambda x: my_func(x) if(pd.notnull(x)) else -1)
df_bc_all["dia_de_la_semana"] = np.where(df_bc_all['dia_de_la_semana']==0, 'Lunes',
              np.where(df_bc_all['dia_de_la_semana']==1, 'Martes',
              np.where(df_bc_all['dia_de_la_semana']==2, 'Miercoles',
              np.where(df_bc_all['dia_de_la_semana']==3, 'Jueves',
              np.where(df_bc_all['dia_de_la_semana']==4, 'Viernes',
              np.where(df_bc_all['dia_de_la_semana']==5, 'Sabado',
              np.where(df_bc_all['dia_de_la_semana']==6, 'Domingo', 'NA')))))))


df_bc_all["date_str"] = df_bc_all['year'].astype(str)+"-"+df_bc_all["mes"].astype(str)+"-"+df_bc_all["dia"].astype(str)
df_bc_all['Date'] = pd.to_datetime(df_bc_all['date_str'])

df_bc_all2 = pd.merge(df_bc_all,df_sii, how="left",on="date_str")

#crea una variable con las combinaciones
#[dia,mes] que tienen al menos un NaN que sea en día de semana 
df_nan_lunes_a_viernes = df_bc_all2[(df_bc_all2.dia_de_la_semana_x != "Domingo") & (df_bc_all2.dia_de_la_semana_x != "Sabado") & (df_bc_all2['1.Dólar observado'].isnull())]

#df_nan_lunes_a_viernes
#obtener la combinacion dia mes que tienen conteos mayores a cero
df_nan_lunes_a_viernes_agrupado = df_nan_lunes_a_viernes.groupby(['dia_de_la_semana_x','mes'])['date_str'].count()

#df_nan_lunes_a_viernes_agrupado

#Luego, cuenta cuantos NaN(incluyendo Sábados y Domingos) hay para cada combinación[dia/mes]
df_nan_lunes_a_viernes_agrupado = df_nan_lunes_a_viernes_agrupado.reset_index()

#df_nan_lunes_a_viernes_agrupado

df_nan_lunes_a_viernes_agrupado["day_month"] = df_nan_lunes_a_viernes_agrupado["dia_de_la_semana_x"].astype(str)+"_"+df_nan_lunes_a_viernes_agrupado["mes"].astype(str)

#df_nan_lunes_a_viernes_agrupado

df_nan_all_week = df_bc_all2[df_bc_all2['1.Dólar observado'].isnull()]

df_nan_all_week_agrupado = df_nan_all_week.groupby(['dia_de_la_semana_x','mes'])['date_str'].count()

df_nan_all_week_agrupado = df_nan_all_week_agrupado.reset_index()



df_nan_all_week_agrupado = df_nan_all_week_agrupado.sort_values(by=['date_str'], ascending=False)

df_nan_all_week_agrupado

#que se puede concluir de estas agrupaciones?
# del listado ordenado se puede ver que entre 1983 y 2021 hay mas dias de agosto
#que caen en sabado y domingo que otros meses

# de los dias laborales, podemos ver que en el listado aparecen los viernes de abril
# como el dia laboral que ha tenido mas valores en nan que todos los otros , lo que 
#tiene sentido ya que semana santa es como uno de los feriados en que el dia feriado
#cae 'obligatoriamente' en dia viernes

# a continuacion con los lunes de junio,septiembre y octubre, el de
# septiembre tiene sentido por las fiestas patrias, el de junio es de
# san pedro y san pablo y en octubre el dia del descubrimiento de america
# estos estan al topo del conteo en los dias laborales y es porque
# es un feriado fijo y desde la ley que mueve ese tipo de feriados a los lunes
# hace sentido que aumente el conteo

#fuente que muestra que los feriados que se mueven a los lunes son de junio y octubre:
#https://www.dt.gob.cl/portal/1628/w3-article-60252.html

   dia_de_la_semana_x mes  date_str
57             Sabado  08       180
7             Domingo  08       179
0             Domingo  01       178
6             Domingo  07       178
59             Sabado  10       178
4             Domingo  05       178
52             Sabado  03       177
50             Sabado  01       177
2             Domingo  03       177
9             Domingo  10       177
11            Domingo  12       177
61             Sabado  12       177
56             Sabado  07       177
54             Sabado  05       176
53             Sabado  04       172
55             Sabado  06       172
8             Domingo  09       172
60             Sabado  11       171
58             Sabado  09       171
10            Domingo  11       171
5             Domingo  06       171
3             Domingo  04       171
51             Sabado  02       162
1             Domingo  02       161
64            Viernes  04        31
24              Lunes  06        22
28              Lunes  10        21
27              Lunes  09        20
20             Jueves  12        19
69            Viernes  09        19
39             Martes  12        18
72            Viernes  12        17
30              Lunes  12        16
49          Miercoles  12        16
46          Miercoles  09        15
13             Jueves  05        14
36             Martes  09        13
17             Jueves  09        13
23              Lunes  05        13
65            Viernes  05        12
14             Jueves  06        12
32             Martes  05        12
42          Miercoles  05        11
63            Viernes  03        10
71            Viernes  11         8
26              Lunes  08         7
62            Viernes  01         7
25              Lunes  07         7
31             Martes  01         6
29              Lunes  11         6
38             Martes  11         6
21              Lunes  01         6
19             Jueves  11         6
45          Miercoles  08         6
16             Jueves  08         6
40          Miercoles  01         6
48          Miercoles  11         5
70            Viernes  10         5
12             Jueves  01         5
68            Viernes  08         5
35             Martes  08         5
18             Jueves  10         4
47          Miercoles  10         4
41          Miercoles  04         3
37             Martes  10         3
33             Martes  06         3
15             Jueves  07         3
43          Miercoles  06         2
34             Martes  07         2
67            Viernes  07         2
44          Miercoles  07         2
66            Viernes  06         1
22              Lunes  04         1

In [10]:
!pip install fsspec

Requirement already satisfied: fsspec in c:\users\zine5\anaconda3\lib\site-packages (0.9.0)

In [11]:
#6.-Calcula el promedio del precio del dolar en los días de cumpleaños del grupo para cada año entre
# 1983 y 2021 y el promedio del precio del dolar para cada año completo entre 1983 y 2021, y muestra
# una tabla donde se vean ambos resultados. ¿Qué diferencias hay en ambos indicadores en cada año?

#i1 Ricardo Ovando 23/09 
#i2 Felipe Bello 06/12 
#i3 Roberto Monsalves 14/09 
#i4 Angélica Cid 13/06 
#i5 Camilo Olavarria 14/04

df_cumple = pd.read_csv("https://raw.githubusercontent.com/rovandof/tarea1-add/master/Integrantes-rovandof.md",index_col = 0,delimiter=" ",header=None)


df_cumple[["dia","mes"]] = df_cumple[3].str.split("/", expand=True)

df_bc_cumple = pd.merge(df_cumple,df_bc_all,on=["dia","mes"])

df_bc_cumple_filtrado = df_bc_cumple[(df_bc_cumple.year != 2022) & (df_bc_cumple.year != 1982)]


df_result = df_bc_cumple_filtrado.groupby('year')['1.Dólar observado'].mean()
df_result = df_result.reset_index()


df_result2 = df_bc_all.groupby('year')['1.Dólar observado'].mean()
df_result2 = df_result2.reset_index()
df_result2_filtrado = df_result2[(df_result2.year != 2022) & (df_result2.year != 1982)]

#df_result
#df_result2_filtrado

df_comparacion = pd.merge(df_result,df_result2_filtrado,on="year")

df_comparacion

#Los días de cumpleaños corresponden a una muestra aleatoria de días del mes, al calcular el promedio  
#del valor del Dolar en estos días observamos que la tendencia es similar al valor promedio de la población 
#total, por lo que podemos inferir que la muestra es representativa. 

#Los datos muestran el alza del precio del dolar.

#El precio del dolar anual en la mayoría de los casos es menor y eso es debido a que el promedio considera
#todos los días del año incluso los fines de semana y festivo, los cuales en la base tienen valor de 0.0, 
#lo que implica que baje el promedio anual 
#Por otro lado, el precio del dolar según los cumpleaños será más bajo o no, si aquellos cumpleaños 
#caen, en fines de semana o días festivos

    year  1.Dólar observado_x  1.Dólar observado_y
0   1983            80.010000            78.766561
1   1984           102.280000            98.233494
2   1985           171.713333           160.725840
3   1986           191.540000           192.868112
4   1987           220.606667           219.456129
5   1988           244.788000           244.987968
6   1989           271.305000           266.494777
7   1990           311.873333           304.679757
8   1991           357.226667           349.114859
9   1992           365.230000           362.696145
10  1993           409.675000           404.255238
11  1994           414.342000           420.252421
12  1995           391.543333           396.782056
13  1996           414.350000           412.219040
14  1997           416.713333           419.248795
15  1998           465.580000           460.319719
16  1999           519.420000           508.897251
17  2000           544.260000           538.871129
18  2001           654.450000           634.428502
19  2002           705.903333           689.242450
20  2003           696.933333           691.535560
21  2004           601.967500           609.549960
22  2005           550.650000           559.862778
23  2006           534.473333           530.263052
24  2007           514.896667           522.690688
25  2008           492.566667           521.789560
26  2009           556.283333           559.667320
27  2010           496.472500           510.376640
28  2011           490.276000           483.364048
29  2012           485.690000           486.746559
30  2013           511.076667           494.995161
31  2014           567.366667           570.005904
32  2015           667.370000           654.249000
33  2016           670.732000           676.832421
34  2017           646.756667           649.328785
35  2018           662.916667           640.290772
36  2019           731.460000           702.631048
37  2020           795.436667           792.221833
38  2021           778.922500           759.272840